:root{
    --square-border-style:3px solid #cbd5e1;
    --player-1-color:green;
    --player-2-color:red;

    --dialog-theme-color:#6d28d9;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #0f172a;
}


.board{
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 20px;
}

.reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    font-size: 1.5em;
    padding: 5px 30px;
    border-radius: 20px;
    border: 0px;
}

.heading{
    text-align: center;
    background-color: #d97706;
    font-size: 2em;
}


/* .player1{
    background-color: green;
}

.player2{
    background-color: red;
} */

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#square11{
    border-right: var(--square-border-style);
    border-bottom: var(--square-border-style) ;
}
#square12{
    border-right: var(--square-border-style);
    border-bottom: var(--square-border-style) ;
}
#square13{
    border-bottom: var(--square-border-style) ;
}
#square21{
    border-bottom: var(--square-border-style) ;
    border-right: var(--square-border-style);
}

#square22{
    border-bottom: var(--square-border-style) ;
    border-right: var(--square-border-style);
}
#square23{
    border-bottom: var(--square-border-style) ;
}
#square31{
    
    border-right: var(--square-border-style);
}
#square32{
    
    border-right: var(--square-border-style);
}



.square{
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}


.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #67e8f9;
    padding: 20px 30px;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
}

.restart-button{
    grid-column: 1/span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px ;

}

.restart{
    width: 150px;
    height: 50px;
    font-size: 1em;
    border-radius: 20px;
    border: 0px;
}

.player1{
    justify-self: start;
    color: var(--player-1-color);

}

.player2{
    justify-self: end;
    color: var(--player-2-color);
}

.game-info{
    justify-self: center;
}


dialog{
    font-size: 1.5em;
    font-weight: 900;
    border: 3px solid var(--dialog-theme-color);
    border-radius: 20px;
    padding: 30px;
}

.result-text{
    padding: 30px;
}
.countinue-button{

    display: flex;
    justify-content: center;
    align-items: center;

}

.countinue,#start{
    font-size: 1.5rem;
    padding: 10px;
    background-color: var(--dialog-theme-color);
    border: 0px;
    border-radius: 20px;
    color: #fce7f3;
}

#start{
    padding: 10px 20px;
}

#player1,#player2{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border:  2px solid var(--dialog-theme-color); 
}

.player1-input,.player2-input{
    margin-bottom: 20px;
}

.name-heading{
    text-align: center;
    padding-bottom: 10px;
    color: var(--dialog-theme-color);
}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

::backdrop{
    background-color: white;
    opacity: 50%;
}