:root{
    --square-border-style:1px solid black;
}

.playground{
    display: flex;
    justify-content: center;
}

.player1{
    background-color: green;
}

.player2{
    background-color: red;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#square11{
    border-right: var(--square-border-style);
    border-bottom: var(--square-border-style) ;
}
#square12{
    border-right: var(--square-border-style);
    border-bottom: var(--square-border-style) ;
}
#square13{
    border-bottom: var(--square-border-style) ;
}
#square21{
    border-bottom: var(--square-border-style) ;
    border-right: var(--square-border-style);
}

#square22{
    border-bottom: var(--square-border-style) ;
    border-right: var(--square-border-style);
}
#square23{
    border-bottom: var(--square-border-style) ;
}
#square31{
    
    border-right: var(--square-border-style);
}
#square32{
    
    border-right: var(--square-border-style);
}



.square{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}